html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  background: radial-gradient(at center top, rgba(41, 41, 41, 1.0), rgba(1, 1, 1, 1.0));
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: aliceblue;
    align-items: center;
    display: flex;
    text-align: center;
  }
  
  label {
    font-size: 1.6vh;
    color: aliceblue;
  }
  
  .login-box .user.login-box {
    position: relative;
  }
  
  
  .login-box .user-box input,  .login-box .user-box textarea  {
    width: 100%;
    padding: 10px 0;
    font-size: 1.6vh;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  
  
  
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f47521;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  .login-box #imagemlogin {
    position: relative;
    width: 100%;
    margin-bottom: 22px;
  }
  
  .login-box a span {
    background: #f47521;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f47521,
      0 0 25px #f47521,
      0 0 50px #f47521,
      0 0 100px #f47521;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f47521);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,
    100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f47521);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%,
    100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f47521);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%,
    100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f47521);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%,
    100% {
      bottom: 100%;
    }
  }